/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;


}

h5 {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

/*Alles voor de header*/
header {
    background-image: url(../images/visuals-patterns-red.png);
    background-repeat: no-repeat;
    background-size: 305vw auto;
    background-color: #c2002f;
    background-position: 50% top;
    height: 9em;
    width: 100%;
    padding: .875em 1.5em 1.5em;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: 500ms;
}

.uitklapNav img.searchIcon{
    width: 6%;
    position: fixed;
    right: 0;
    margin-right: 2em
}

.uitklapNav h5 {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2em;
    background-color: white;
    padding: .5em;
    color: rgb(100,100,100);
    font-family: sans-serif;
}

.uitklapNav h5::before {
    content:"";
    background-image: url(../images/internet.png);
    width: 1em;
    height: 1em;
    display: inline-block;
    background-size: 1em 1em;
    margin-right: .4em;
    margin-bottom: -.1em;
}

.uitklapNav h5::after {
    content:"";
    background-image: url(../images/dropdownIcon.png);
    width: .5em;
    height: .5em;
    display: inline-block;
    background-size: .5em .5em;
    margin-left: .4em;
    margin-right: .3em;
    margin-bottom: 0;
}

.uitklapNav {
    position: relative;
    height: 0%;
    overflow: scroll;
    width: 115%;
    padding: 1em 1.5em;
    border-top: 1px solid white;
    margin: 1.5em -1.5em;
    justify-content: flex-start;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 1s;
}

.uitklapOpen {
    display: flex;
    height: 90%;
    transition: 1s;
}



.uitklapNav ul:first-of-type {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
}

.uitklapNav section {
    display: flex;
    margin-top: 3em;
    padding-bottom: 3em;
}

.uitklapNav section img {
    width: 7%;
    margin-right: 1.4em;
}

.uitklapNav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    height: fit-content;   
}

.uitklapNav ul:last-of-type li:first-of-type {
    display: block;
}

.uitklapNav ul:first-of-type li:nth-of-type(2) {
    display: block;
}

.uitklapNav ul:first-of-type li:nth-of-type(5) {
    margin-left: 0;
}

.uitklapNav ul:nth-of-type(2) li a {
    padding: 0;
    border: none;
}

.uitklapNav ul:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.uitklapNav ul:last-of-type li:nth-of-type(2) {
    display: block;
}

.uitklapNav ul:last-of-type li:nth-of-type(3) {
    display: block;
}

.uitklapNav ul:last-of-type li:nth-of-type(6) {
    display: block;
}

.uitklapNav ul:last-of-type li:nth-of-type(7) {
    display: block;
    font-size: 1em;
}

.uitklapNav ul li:first-of-type {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: .3em
    
}



.uitklapNav ul li a {
    padding: 0;
    border: none;
    font-weight: 300;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.35
}

.uitklapNav ul li:nth-of-type(5) {
    margin-left: 0;
}

.uitklapNav ul:last-of-type li:nth-of-type(7) {
    margin-left: 0;
}

/*Header hoogte na scroll*/
.scroll {
    height: 6.5em;
}

/*Header na openen menu*/
.fullpage {
    height: 100%;
}

main {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*bovenste rij in de nav*/
header nav ul:first-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content:flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    transition: 500ms;
    align-items: center;
}

/*Eerste ul na scroll*/
.ulScroll {
    margin-bottom: .5em;
}

/*list items in de nav*/
nav ul li {
    margin: 0;
    padding: 0;
    flex-basis: 10%;
    position: relative;
}

/*Logo en letterlogo container*/
nav ul:first-of-type li:first-of-type a {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

/*Letter logo*/
nav ul:first-of-type li:first-of-type img:last-of-type {
    position: relative;
    color: white;
    text-decoration: none;
    height: 1.5em;
    margin: 0;
    padding-right: .5em;
    border-right: 1px solid white;
    transition: 1s;
}

/*border die weg gaat na de scroll*/
.letterScroll {
    border-right: 0px;    
}

/*Ajax logo*/
nav ul:first-of-type li:first-of-type img:first-of-type {
    display: block;
    height: 4em;
    margin-right: .5em;
    transform: translateY(-.4375rem);
    
}

/*Ajax Logo die verdwijnt na scroll*/
.ajaxScroll {
    animation: logoweg 500ms forwards;
}

@keyframes logoweg {
    0% {
        display: block;
        height: 4em;
        width: auto;
        opacity: 100%;
    }
    99% {
        display: block;
        width: 0;
        height: 0;
        opacity: 0%
    }
    100% {
        display: none;
        width: 0;
        height: 0;
        opacity: 0%;
    }
}

li a + a {
    padding: .5em;
}

a {
    text-decoration: none;
    color: white;
}

ul li a {
    font-family: 'Archivo Black', sans-serif;
    
}

/*Tweede ul in nav*/
header nav ul:last-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content:flex-start;
    padding: .5em 0;
    margin: 0;
    transition: 300ms;
    align-items: center;
}

header ul:last-of-type li:last-of-type {
    display: none;
}

header nav ul:last-of-type li {
    flex-basis: 10%;
}


nav ul:first-of-type li:nth-of-type(2) {
    display: none;
}

nav ul:first-of-type li:nth-of-type(3) img {
    height: 1em;
    margin: 0 .75em;
}

/*Ziggo logo na scroll*/
.ziggoScroll {
    display: none;
}

nav ul:first-of-type li:nth-of-type(4) img {
    height: 1.5em;
}

/*Adidas logo na scroll*/
.adidasScroll {
    display: none;
}

nav ul:first-of-type li:nth-of-type(5) img {
    height: 1.5em;
}

nav ul:first-of-type li:nth-of-type(5) {
    margin-left: auto;
}

/*Tickets & Fanshop*/
nav ul:nth-of-type(2) li a {
    font-size: 16px;
    padding: 4px 12px;
    border: 1px solid white;
    border-radius: 5em;
    margin-right: .5em;
    align-items: center;

}

nav ul:last-of-type li:first-of-type {
    display: none;
}

nav ul:last-of-type li:nth-of-type(2) {
    display: none;
}

nav ul:last-of-type li:nth-of-type(3) {
    display: none;
}

nav ul:last-of-type li:nth-of-type(6) {
    display: none;
}

/*Hamburger Menu*/
nav ul:last-of-type li:nth-of-type(7) {
    line-height: .7em;
    border: 0;
    font-size: 1.5em;
    margin-left: auto;
    color: white;

}



main section:first-of-type ul {
    list-style: none;
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin: 9.5em 0 0;
    max-width: 90em;
    padding: 2em 1.5em 0;
    transition: 300ms;
    
}

/*Main na scroll*/
.mainScroll {
    margin: 6em 0 0;   
}

main section:first-of-type li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section:first-of-type li:first-of-type {
    position: relative;
    overflow: hidden;
    height: 24.5em;
    
}

main section:first-of-type li div {
    position: absolute;
    background: rgba(0,0,0,0.2);
    padding: 100%;
}

section:first-of-type li h2 {
    position: absolute;
    font-family: 'Archivo Black', sans-serif; 
    color: white;
    margin: 1em 6em 0 1em;
    font-size: 1.5em;
    z-index: 1;
}

main img {
    max-width: 100%;
}

section:first-of-type li h4 {
    background-color: white;
    color: black;
    padding: .5em 1em;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    margin: 2em; 
}

section:first-of-type li:nth-of-type(2) {
    position: relative;
}

main section:first-of-type ul li:last-of-type {
    position: relative;
}

section:first-of-type li:nth-of-type(2) img {
    height: 13.5em;
    width: 100%;
}

section:first-of-type li:nth-of-type(2) h2,h3,h4 {
    position: absolute;
}

section:first-of-type ul li:last-of-type h2,h3,h4 {
    position: absolute;
    
}

main section:first-of-type ul li h2 {
    margin: 1em 8em 0 1.2em;
    top: 0;
    
}

main section:first-of-type ul li:last-of-type h3 {
    margin-top: 0;
    
}

section:first-of-type li h3 {
    position: absolute;
    top: 3.6em;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    margin: 1.7em
}

section:first-of-type li:nth-of-type(2) {
    width: 100%;
}

section:first-of-type li:last-of-type {
    display: none;
}



section:nth-of-type(2) ul:first-of-type {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1.5em 1.5em 0 1.5em;
    padding: 0;
    overflow-x: scroll;
    overflow-y: visible;
    justify-content: flex-start;
    margin-top: 2em;
}

section:nth-of-type(2) ul:first-of-type li {
    margin-left: 1.7em;
    font-size: 1em;
    padding-bottom: .5em;
}

.borderBottom {
    border-bottom: 2px solid crimson;    
}



section:nth-of-type(2) ul:first-of-type li:nth-child(1) {
    margin-left: 0;
    
}

section:nth-of-type(2) ul:first-of-type li a {
    color: black;
}

section:nth-of-type(2) {
    width: 100%;
}

section:nth-of-type(2) ul:nth-of-type(2) {
    width: 100%;
    padding: 2em 1.5em 0;
    margin: 0;
    list-style: none;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 3em;
    border-bottom: 1px solid crimson;
    margin-bottom: 1.5em;
}



section:nth-of-type(2) ul:nth-of-type(2) h2 {
    color: black;
    font-size: 1.4em;
    margin-bottom: .5em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(4) h2 {
    margin-bottom: 1em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) {
    margin-bottom: 1em;
    padding-bottom: 0;
    border-bottom: 0;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li img:first-of-type {
    width: 100%;
}


section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) img {
    position: relative;
    width: 100%;
    margin: 1.5em 0 0;
    padding: 0;
    height: 27em;
    object-fit: cover;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) h5 {
    position: absolute;
    bottom: 1em;
    padding: .7em .8em;
    background-color: crimson;
    font-size: 1em;
    left: 0;
    margin: 1.5em
}

section:nth-of-type(2) ul:nth-of-type(2) li + li p {
    display: none;
}

section:nth-of-type(2) ul:nth-of-type(2) li + li h2 {
    margin-bottom: 1.75em;
}

section:nth-of-type(2) ul:nth-of-type(2) p {
    color: black;
    font-family: 'Archivo', sans-serif;
    font-size: 1.15em;
    margin-top: .5em; 
    line-height: 1.5em;
}

section:nth-of-type(2) ul:nth-of-type(2) h3 {
    color: white;
    background-color: rgba(64, 62, 62, 1);
    font-family: 'Archivo', sans-serif;
    font-size: .8em;
    font-weight: lighter;
    margin: 0;
    padding: .5em;
}

section:nth-of-type(2) ul:nth-of-type(2) img:last-of-type {
    height: 2.5em;
    
    position: absolute;
    margin: 0;
    right: 0;
    bottom: .8em;   
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(7) h2 {
    margin-bottom: 1em;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(9) h2 {
    margin-bottom: 1em;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(10) {
    padding-bottom: 0;
    border-bottom: 0;
    position: relative;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(10) img {
    position: relative;
    width: 100%;
    margin: .9em 0 -.9em;
    padding: 0;
    height: 27em;
    object-fit: cover;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(10) h5 {
    position: absolute;
    bottom: 0;
    padding: .5em .8em;
    background-color: white;
    color: black;
    font-size: 1em;
    left: 0;
    margin: 1.2em 1.5em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(11) {
    padding-bottom: 0;
    border-bottom: 0;
    position: relative;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(11) img {
    position: relative;
    width: 100%;
    margin: .9em 0 -.9em;
    padding: 0;
    height: 27em;
    object-fit: cover;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(11) h5 {
    position: absolute;
    bottom: 0;
    padding: .5em .8em;
    background-color: crimson;
    font-size: 1em;
    left: 0;
    margin: 1.2em 1.5em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(13) {
    padding-bottom: 0;
    border-bottom: 0;
    position: relative;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(13) img {
    position: relative;
    width: 100%;
    margin: .9em 0 -.9em;
    padding: 0;
    height: 27em;
    object-fit: cover;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(13) h2 {
    position: absolute;
    top: 0;
    color: white;
    padding: .5em .6em 0;
    margin: 0;
    font-size: 2.5em;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(13) h3 {
    position: absolute;
    
    background-color: transparent;
    top: 3em;
    font-size: 1.5em;
    padding: 0 1em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(13) h5 {
    position: absolute;
    bottom: 0;
    padding: .5em .8em;
    background-color: crimson;
    font-size: 1em;
    left: 0;
    margin: 1.5em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(14) {
    padding-bottom: 0;
    border-bottom: 0;
    position: relative;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(14) img {
    position: relative;
    width: 100%;
    margin: .9em 0 -.9em;
    padding: 0;
    height: 27em;
    object-fit: cover;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(14) h2 {
    position: absolute;
    top: 0;
    color: white;
    padding: .5em .6em 0;
    margin: 0;
    font-size: 2.5em;
    
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(14) h3 {
    position: absolute;
    
    background-color: transparent;
    top: 3em;
    font-size: 1.5em;
    padding: 0 1em;
}

section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(14) h5 {
    position: absolute;
    bottom: 0;
    padding: .5em .8em;
    background-color: white;
    color: black;
    font-size: 1em;
    left: 0;
    margin: 1.5em;
}

footer {
    width: 100%;
    padding: 0 1.5em 0 1.5em;
    
}

footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

footer section:first-of-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25em;
}

footer img:first-of-type {
    width: 99.9%;
    margin-bottom: em;
}

footer section:first-of-type ul {
    list-style: none;
    padding: 0;
    margin-right: 1em;
    width: 50%;
}



footer section:first-of-type ul:nth-of-type(2) {
    margin-bottom: 5em;
}

footer section:first-of-type ul li:last-of-type {
    display: block;
}

footer section:first-of-type ul a {
    color: black;
    font-family: sans-serif;
    font-size: 1.1em;
}



footer h2 {
    font-family: sans-serif;
    font-size: 1.1em;  
}

footer h2:first-of-type {
    margin-bottom: 0;
    font-size: 1.em;
}

footer p {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.1em;
}

footer div.right_row a.nieuwsbrief {
    background-color: crimson;
    padding: .5em 1em;
    width: fit-content;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
   
}

footer div.right_row section:first-of-type {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    height: fit-content;
}

footer div.right_row section:nth-of-type(2) ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

footer div.right_row section:nth-of-type(2) ul li {
    flex-basis: 5%;
    margin-right: 0em;    
}

footer div.right_row section:nth-of-type(2) ul li img {
    width: 2em
}

footer div.right_row section:nth-of-type(3) ul {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
}

footer .right_row section:nth-of-type(3) ul li {
    margin-right: 1em;
    margin-bottom: 1em;
    
}

footer .right_row section:nth-of-type(3) ul li:last-of-type {
    margin-bottom: 0;
}

/*Copyright tekst*/
footer p:last-child {
    font-size: .65em;
    margin-bottom: 3em;
    
}

/*Eerste list item die bold moet zijn */
footer li:first-child {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

/*Vormgeving voor pagina 2*/


main.article_page {
    width: 100%;
    margin-left: 0;
}

/*Volledige article*/
.article_page article {
    border-bottom: 2px solid crimson;
    padding-bottom: .5em;
    margin: 1.5em;
}

/*Header van de pagina*/
.article_page h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    color: white;
    margin-bottom: 0;
    padding: 4em 0em .7em .8em;
    text-align: start;
    font-family: 'Archivo Black', sans-serif;
    background-image: url(../images/visuals-patterns-red.png);
    background-repeat: no-repeat;
    background-size: 305vw auto;
    background-color: #c2002f;
    background-position: 50% 6%;
}

/*image bovenaan de pagina*/
.article_page img {
    margin: 0;
    width: 100%;
    height: 16em;
    object-fit: cover;
    object-position: top;
}

/*Eerste alinea op de pagina*/
.article_page article p {
    font-family: 'Archivo', sans-serif;
    font-weight: lighter;
    font-size: 1.14em;
    font-weight: 300;
    line-height: 1.33;
    margin-top: 0;
    
}

/*Blockquotes op de pagina*/
.article_page blockquote {
    margin: 0;
    padding: 0 0 1em;
    font-size: 1.14em;
    font-family: 'Archivo', sans-serif;
    color: rgb(50,50,50);
}

/*Padding voor de onderkant van de laatste blockquote*/
.article_page blockquote:last-of-type {
    padding-bottom: 1em;
}

/*Lijst met datum auteur en fotograaf*/
.article_page article ul {
    list-style: none;
    padding: 0 0 1em;
    margin: 0;
    font-size: 1.14em;
    font-family: 'Archivo', sans-serif;
    font-weight: lighter;
}

/*Section voor de hashtag en de deelknop*/
article section {
    display: flex;
    flex-direction: row;
}

/*hashtag*/
article section h3 {
    margin: 0;
    padding: .5em;
    font-size: .8em;
    background-color: rgba(70,70,70,5);
    color: white;
    position: none;
    font-family: 'Archivo', sans-serif;
}

/*deelknop*/
.article_page article section img {
    max-height: 2em;
    width: 1.5em;
    padding-bottom: .5em;
    margin-left: auto;
    object-fit: contain;
    position: inherit;
}

/*Feedback gedeelte*/
aside {
    padding: .1em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
}

aside h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.1em;  
}

aside button {
    text-align: start;
    border: none;
    background: none;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0;
}

aside button:last-of-type {
    margin-bottom: .5em;
}

aside button:first-of-type::before {
    background-image: url(../images/vinkje_1.png);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
    content: "";
    margin-right: 1em;
    margin-bottom: -.3em    
}

aside button:last-of-type::before {
    background-image: url(../images/kruisje.png);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
    content: "";
    margin-right: 1em;
    margin-bottom: -.3em    
}

aside button:focus {
    outline: none;
}

aside p {
    font-family: 'Archivo', sans-serif;
    color: dimgray;
    font-size: .8em
}

.article_page h2:nth-last-child(2) {
    font-family: 'Archivo Black';
    padding-left: 1em;
    margin: 2em 0 -.5em;   
}

.article_page section:nth-of-type(1) {
    display: flex;
}

.article_page section:nth-of-type(1) article:first-of-type {
    margin-bottom: 4em;
}

.article_page section:nth-of-type(1) article h2 {
    font-family: 'Archivo Black';  
}

.article_page section:nth-of-type(1) article + article {
    display: none;
}

    .article_page article:first-of-type div section h3 {
        display: none;
    }
    
    .article_page article:first-of-type div section img {
        display: none;
    }

@media screen and (min-width: 1100px) {
    
    
    .ziggoScroll {
        display: block;
    }
    
    .adidasScroll {
        display: block;
    }
    
    .article_page article p {
        padding: 0 15.5em 0 0;
        font-size: 1.5em;
    } 
    
    .article_page article blockquote {
        padding: 0 20em 0 0;
        margin-bottom: 1em;
    }
    
    .article_page article:first-of-type div {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 2px solid crimson;
        padding-right: 9em;
        margin: 0;
        padding-top: 0;
    }
    
    .article_page article:first-of-type div section h3 {
        position: relative;
        display: block;
        background-color: rgb(50,50,50);
        margin-bottom: 1em;
        color: white;
        padding:.5em;
        height: fit-content;
        font-family: 'Archivo', sans-serif;
        font-size: .7em;
        width: fit-content;
    }
    
    .article_page article:first-of-type div section img {
        position: absolute;
        display: block;
        bottom: .3em;
        right: 0;
    }
    
    .article_page article{
        margin: 2em 6.5em;
        position: relative;
        
    }
    
    .article_page aside {
        margin: 2em 6.5em;
        padding: 0;
        width: 25em;
    }
    
    .article_page h1 {
        background-size: 100vw 100vh;
        background-position: center 24%;
        font-size: 3em;
        padding: 2em 1em .5em 2em;
    }
    
    .article_page img {
        height: 28em;
    }
    
    
    .article_page section.related article img:first-child {
        height: 15em
        
    }
    
    .article_page section:nth-of-type(1) article p {
        padding: 0 0em 0 0;
        font-size: 1.13em;
        margin-top: auto;
    }
    
   
    
    .article_page .related {
        padding: 0 5.5em;
    }
    
    .related article {
        width: 233em;
        margin: 3em 1em;
        height: 31em
    }
    
    .article_page h2:nth-last-child(2) {
        font-size: 2em;
        padding-left: 3.2em
        
    }
    
    .related article img:first-of-type{
        height: 20em;
    }
    
    .related h2 {
        font-size: 1.5em;
    }
    
    .related article:first-of-type h2 {
        margin-bottom: 3em
        
    }
    
    
    .article_page section:nth-of-type(1) article + article {
        display: block;
}
    
    header {
        height: 7.5em;
        background-size: 100vw 100vh;
        background-position: center 15%;
        padding: 1.5em 0 1.5em 1.5em ;
        align-items: center;
        
    }
    
    header nav {
        padding-left: .8em;
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    header ul:last-of-type li:nth-of-type(4) a {
        border: 1px solid white;
    }
    
    header ul:last-of-type li:nth-of-type(4) a:hover {
        background-color: white;
        color: black;  
    }
    
/*Eerste list item met hover*/
    header ul:last-of-type li:first-of-type {
        position: relative; 
    }
    
    header ul:last-of-type li:first-of-type::after {
        content: "";
        position: absolute;
        background-color: white;
        left: .5em;
        right: .8em;
        height: .05em;
        bottom: -.30em;
        transform: scaleX(0);
        transition: 300ms ease;   
    }
    
    header ul:last-of-type li:first-of-type:hover::after {
        transform: scaleX(1);
        
    }
    
/*Tweede list item met hover*/
    header ul:last-of-type li:nth-of-type(2) {
        position: relative; 
    }
    
    header ul:last-of-type li:nth-of-type(2)::after {
        content: "";
        position: absolute;
        background-color: white;
        left: .5em;
        right: .8em;
        height: .05em;
        bottom: -.30em;
        transform: scaleX(0);
        transition: 300ms ease;   
    }
    
    header ul:last-of-type li:nth-of-type(2):hover::after {
        transform: scaleX(1);
        
    }
    
/*Derde list item met hover*/
    header ul:last-of-type li:nth-of-type(3) {
        position: relative; 
    }
    
    header ul:last-of-type li:nth-of-type(3)::after {
        content: "";
        position: absolute;
        background-color: white;
        left: .5em;
        right: .8em;
        height: .05em;
        bottom: -.30em;
        transform: scaleX(0);
        transition: 300ms ease;   
    }
    
    header ul:last-of-type li:nth-of-type(3):hover::after {
        transform: scaleX(1);
        
    }    
    
   
    
    header ul:last-of-type li:nth-of-type(5) a {
        border: 1px solid white;
    }
    
    header ul:last-of-type li:nth-of-type(5) a:hover {
        background-color: white;
        color: black;  
    }
    
    header ul:last-of-type li:nth-of-type(6) a {
        margin-left: 1em;
    
    }
    
    header ul:last-of-type li:nth-of-type(6) {
        margin-top: -1em;
        margin-left: .5em;
    }
    
    
    header ul:last-of-type li:nth-of-type(6)::before {
        background-image: url(../images/account.png);
        content: "";
        width: 1.5em; 
        height: 1.5em;
        display: inline-block;
        background-size: 1.5em 1.5em;
        margin-bottom: -1.5em;

    }
    
    header nav ul:first-of-type {
        align-items: center;
    }
    
    header nav ul:first-of-type li:nth-of-type(2) {
        display: block;
        padding-right: 1em;
        border-right: 1px solid white;
        height: 1.5em;
        align-items: center;
        
    }
    
    
    
    header nav ul:first-of-type li:nth-of-type(2) img {
        width: 22em;
        height: auto;
        margin-top: -2em
        
    }
    
    header nav ul:first-of-type li img {
        width: 3em;
    }
    
    header nav ul:first-of-type li + li {
        flex-basis: 6.5%;
        
    }
    
    header nav ul:first-of-type li:nth-of-type(1) {
        display: none;
    }
    
    a {
        cursor: pointer;
    }
    
    main {
        margin: 0 5em
    }
    
    header ul:last-of-type li {
        display: block;
    
    }
    
    header ul:last-of-type li a {
        border: none;
        font-family: 'Archivo', sans-serif;
        font-weight: bold;
    }
    
    header ul:last-of-type li:nth-of-type(7) {
        display: none;
    }
    
    header ul:last-of-type li:last-of-type {
        display: block;
        margin-top: .3em;
    }
    
    header ul:last-of-type li:last-of-type img {
        width: 2.5em;
        padding-left: 1em;
        border-left: 1px solid white;
        margin-left: 0;
    }
    
    footer {
        margin: 0 5em;
    }
    
    .scroll {
    height: 7.5em;
}
    
    nav ul:last-of-type li:first-of-type {
    display: block;
}

nav ul:last-of-type li:nth-of-type(2) {
    display: block;
}

nav ul:last-of-type li:nth-of-type(3) {
    display: block;
}

nav ul:last-of-type li:nth-of-type(6) {
    display: block;
}
    
    header nav ul:first-of-type {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    justify-content:flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    transition: 500ms;
    align-items: center;
}
    
    .ajaxScroll {
    animation: none;
    }
    
    .ulScroll {
    margin-bottom: 0;
}
    
    main section:first-of-type ul li:first-of-type img {
        height: auto;
    }
    
    main section:first-of-type ul:first-of-type li:first-of-type {
        height: 30em
    }
    
    
    .main_hover:hover {
        color: lightgray;
    }
   
    
    main section:first-of-type ul {
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 0;
        
    }
    
    main section:first-of-type ul li:first-of-type {
        grid-column: span 2;
        grid-row: span 2;  
    }
    
    main section:first-of-type ul li:first-of-type img {
        object-position: 50% 0;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:first-of-type img:first-of-type {
        object-fit: fill;
        height: 16.7em;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) a {
        height: 100%;
        width: 100%;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) img {
        height: 100%; 
        margin: 0;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6) a {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    section:nth-of-type(2) ul:nth-of-type(2) li + li p {
        display: block;
    }
    
    section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(2) p {
        margin-top: 1.9em;
    }
    
    section:nth-of-type(2) ul:nth-of-type(2) li + li h2 {
        margin-bottom: auto
    }

    main section:nth-of-type(2) ul:nth-of-type(2) li h3 {
        position: absolute;
        bottom: 1.5em;
        
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(8) {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(8) img:first-of-type {
        object-fit: cover;
        height: 16.7em;
        object-position: top;
    } 
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(8) section p {
        width: 60%;
        margin: 1em 0 0 1em
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(8) section {
        display: flex;
    }
    
    main section:nth-of-type(2) ul:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    nav ul:first-of-type li:nth-of-type(5) {
    display: none;
}
    
    main section:first-of-type ul li:last-of-type {
        display: block;
    }
    
    main section:first-of-type ul li:last-of-type img {
        object-position: left;
        object-fit: cover;
    }
    
    footer img.Ajax_Logo {
        width: 35%;
        margin-left: -4em;
        
        
    }
    
   
    
    footer section:first-of-type {
        width: 60%;
        margin-right: 0;
    }
    
    footer {
        flex-wrap: wrap;
        width: 70em;
        flex-direction: column;
        display: flex;
        margin-top: 3em;
    }
    
    footer div:first-of-type {
        flex-direction: row;
        display: flex;
        margin-top: 2em;
        height: 25em;
    }
    
    footer div.right_row section:first-of-type ul {
        margin: 0;
        padding: 0;
        height: 10em;
    }
    
    footer div.right_row section:nth-of-type(2) {
        width: 22em;
    }
    
    footer div.right_row section:nth-of-type(2) ul {
        margin: 0;

    }
    
    footer div.right_row section:nth-of-type(3) {
        width: 22em;
    }
    
    footer div.right_row {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: 1em;
        margin-left: 4.5em;
        margin-bottom: 0;
        height: 25em
        
        
    }

    
    .right_row section:first-of-type h2 {
        margin-top: 0;
    }
    
    footer div.right_row section:first-child {
        width: 22em;
        height: 10em;
        margin: 0;
    }
    
    footer div.right_row section:first-of-type {
        margin: 0;
        height: fit-content;
        margin-bottom: 2em;
    }
    
    h2:hover {
        opacity: .7;
    }
    
    footer li a:hover {
        opacity: .7;
    }
    
    main section:nth-of-type(2) ul:first-of-type li:hover {
        border-bottom: 2px solid red;
    }
    
    footer section:nth-of-type(2) ul:first-of-type li {
        margin-top: 1em
        
    }
    
    
    
    
    
  
    
    
    
    
    


  
}











